.map_menu{
    position: absolute;
    top: 60px;
    z-index: 50;
    display: block;
    right: 0px;

    }


td{
    vertical-align: middle !important;
}
.map_ower{
    overflow-y:auto ;
    height: 200px;
}

.map_menu .btn{
    padding: 6px;
    box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px;
    min-width: 22px;
    font-family: Roboto, Arial, sans-serif;
    border: none;
    border-radius: 2px;
}
.map_marker_menu{
    display: none;
    position: absolute;
    top: 100px;
    z-index: 50;
    right: 30px;
    background-color: #fff;
    padding: 0px;

    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px;
}
.markers_adm{
    position: absolute;
    z-index: 110;
    top: 100px;
    padding: 0px;
    left: 3%;
    display: none;
}

.admp7{
    padding-bottom: 7px;
    padding-top: 7px;
}
.fa-info-circle{ padding-right: 0px !important;}
.fa-trash{ padding-right: 0px !important;}
